.stripe-add {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
}