.mispedidos-filters {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.mispedidos-filters button {
  padding: 6px 20px;
  border-radius: 30px;
  border: none;
  background-color: #b0b0b0;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: auto;
}

.mispedidos-filters .active {
  background-color: #0d3b4c;
  color: white;
}

.pedido-card-horizontal {
  display: flex;
  gap: 30px;
  align-items: center;
}

.resumen-envio {
  background-color: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 15px;
  min-width: 250px;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.resumen-title {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.resumen-line {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 0.9rem;
}

.resumen-line.total {
  font-weight: bold;
  border-top: 1px solid #888;
  padding-top: 10px;
  margin-top: 10px;
}

.continuar-btn {
  margin-top: 15px;
  background-color: #0d3b4c;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.dashboard-body--pedidos {
  display: flex;
}

.dashboard-section--pedidos {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  position: relative;
  align-self: flex-start;
}

.dashboard-aside {
  flex: 0 0 200px;
}

.dashboard-title--pedidos {
  text-align: left;
  margin-left: 40px;
}

.dashboard-pedidos {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 cards wide */
  gap: 20px; /* Space between cards */
  max-height: 80vh; /* Limit the height to make it scrollable */
  overflow-y: auto; /* Enable vertical scrolling */
  align-self: flex-start;
}

.dashboard-pedidos::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.dashboard-pedidos::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded scrollbar */
}

.dashboard-pedidos::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}